{% extends 'base.html' %} {% block title %}Home{% endblock title %} {% block
body %}

<div class="container mx-auto max-w-4xl p-6">

  <h2 class="text-2xl font-bold text-gray-800 text-center mb-6">Update Todo</h2>

  <!--  update form -->
  <div class="bg-white shadow-lg rounded-xl p-6 border border-gray-200">
    <form action="/update/{{todo.sno}}" method="POST">
      <div class="mb-4">
        <label for="title" class="block text-gray-700 font-bold"
          >Todo Title</label
        >
        <input
          value="{{todo.title}}"
          type="text"
          id="title"
          name="title"
          class="w-full px-4 py-2 border rounded-lg focus:ring-1 focus:ring-black focus:outline-none bg-gray-50"
        />
      </div>

      <div class="mb-4">
        <label for="desc" class="block text-gray-700 font-bold"
          >Todo Description</label
        >
        <input
          value="{{todo.desc}}"
          type="text"
          id="desc"
          name="desc"
          class="w-full px-4 py-2 border rounded-lg focus:ring-1 focus:ring-black focus:outline-none bg-gray-50"
        />
      </div>

      <button
        type="submit"
        class="w-full text-white py-2 px-4 rounded-md shadow-md bg-gradient-to-r from-teal-600 to-green-700 hover:bg-[rgb(90,135,125)] transition duration-300 ease-in-out"
      >
        Update
      </button>
    </form>
  </div>
</div>

{% endblock body %}
